.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px){
.navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.navbar {
    height: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}

nav {
    display: block;
}
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}}